/* ROOT */

:root{
    --bgColor : #8858c5
    --blackColor : '#101820FF'
}

/* BODY */

body{

    margin: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
    .about-me-card{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
    }
}

@media only screen and (min-width: 800px) {
    .about-me-card{
        margin: 50px;
    }
}


/* ABOUT ME */

.about-me-container{
    display: flex;
    justify-content: center;
    align-items: center;

    
    background-color: #8858c5;
}

.about-me-card{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
    margin-bottom: 40px;
    max-width: 1000px;
    min-height: 200px;

    padding: 15px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.about-me-content{

    display: flex;
    flex-wrap: wrap;
    
    max-width: 500px;
}

.about-me-content > h1, 
.about-me-content > p{
    font-family: sans-serif;
}
    


