/* ROOT */
@font-face {
    font-family: source;
    src: url('./source-code-font.ttf');
}
:root{
    --bgColor : #8858c5
    --blackColor : '#101820FF'
}

/* BODY */

body{

    margin: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
    .about-me-card{
        display: flex;
        flex-direction: column;
        margin: 15px;
        padding: 10px;
    }

    .my-work-container{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 800px) {
    .about-me-card{
        margin: 50px;
    }
}


/* ABOUT ME */

.about-me-header{
    margin: 0px;
    padding-left: 600px;
    padding-top: 10px;
    background-color: #8858c5;
    font-family: source;
}

.about-me-container{
    display: flex;
    justify-content: center;
    align-items: center;

    
    background-color: #8858c5;
}

.about-me-card{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
    margin-bottom: 60px;
    max-width: 1000px;
    min-height: 200px;

    padding: 15px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.about-me-content{

    display: flex;
    flex-wrap: wrap;
    
    max-width: 500px;
}

.character-image{
    margin-left: 30px;
}


.about-me-content > h2, 
.about-me-content > p{
    font-family: source;
}


/* MY WORK */

.my-work-header{
    font-family: source;
    margin-left: 40px;
}

.my-work-container{

    display: flex;
    justify-content: space-evenly;
    margin: 20px;

    font-family: source;
}

.my-work-card{
    margin: 10px;
}

.card-content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    max-width: 400px;

}

.card-content > h2{
    padding: 5px;
    background-color: #8858c5;
}
    


