/* ROOT */
@font-face {
    font-family: source;
    src: url('./source-code-font.ttf');
}

/* BODY */

body{

    margin: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width:800px) {
    .about-me-card{
        display: flex;
        flex-direction: column;
        margin: 15px;
        padding: 10px;
    }

    .my-work-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .my-work-card{
        margin-left: 0px;
        margin-bottom: 10px;
    }

    

    .my-work-header{

        margin-bottom: 3170px;
    }

}

@media only screen  and (min-width: 801px) {
    .about-me-card{
        margin: 50px;
    }

}



/* ABOUT ME */

.about-me-header{
    margin: 0px;
    padding-top: 10px;
    background-color: #8858c5;
    font-family: source;
}

.about-me-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8858c5;
}

.about-me-card{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
    margin-bottom: 60px;
    max-width: 1000px;
    min-height: 200px;

    padding: 15px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.about-me-content{

    display: flex;
    flex-wrap: wrap;
    
    max-width: 500px;
}

.character-image{
    margin-left: 30px;
}


.about-me-content > h2, 
.about-me-content > p{
    font-family: source;
}


/* MY WORK */

.my-work-header{
    /* margin-left: 60px; */
    
    font-family: source;
    position: absolute;
    margin-top: -50px;

}

.my-work-container{

    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    margin-top: 80px;

    font-family: source;
    flex-wrap: wrap;
}

.card-content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px;

    border-radius: 16px;
    border: 1px solid #8858c5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    max-width: 400px;

}

.card-content > h2{
    padding: 5px;
    background-color: #8858c5;
}

.card-content > img{

    border: 2px solid #8858c5;
    border-radius: 10px;
}

.card-content > p{
    color: #8858c5;
}

/* CONTACT ME */

/* .contact-me-container{

    display: flex;
    flex-direction: column;

    font-family: source;
    background-color: #8858c5;
    height: 400px;
}

.contact-content > h1{
    margin-left: 650px;
}


.contact-content > p{
    text-wrap: wrap;
    color: black;
    font-weight: 800;
    margin-top: -200px;
    margin-left: 690px;
}

.contact-character{
    margin-left: 450px; 
}

.github-icon{
    margin-top: 10px;
    margin-left: 750px;
} */

    